{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="li-navbar">
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </div>
    <div class="li-display">
        <ul id="user-game-grid">
        {% for game in usergames %}
            <li class="user-game-grid-item"> <img src="{{ game.hometeam_src }}" height="30" width="30">{{ game.hometeam_name }} vs {{ game.awayteam_name }} <img src="{{ game.awayteam_src }}" height="30" width="30"><hr> <div>{{ game.fulldatetime }}</div></li>

        {% endfor %}
    </ul>
    </div>
    <div class="li-footer"></div>
</body>
</html>