{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
    <div class="settings-container">
        <h2>Delete your account below:</h2>
            <form method="post" class="deleteform">
                {% csrf_token %}
                {{ delete }}
                <button type="submit" class="deletebutton">Delete</button>
            </form>
        <h2>Change your teams below:</h2>
        <form method="GET" action="{% url 'teamselection' %}">
                <button class="changeteamsbutton" type="submit">Select Teams</button>
            </form>
    </div>
</body>
</html>