body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E2E2E;
}

.login-container, .register-container, .selection-container, .settings-container {
        background-color: #2E2E2E;
}

.login-container {
    display: flex;
    align-items: center;
    border: 2px solid black;
    height: 60%;
    width: 20%;
    border-radius: 20px;
    flex-direction: column;
    color: #FAF9F6;
}

.settings-container {
    display: flex;
    align-items: center;
    border: 2px solid black;
    height: 60%;
    width: 20%;
    border-radius: 20px;
    flex-direction: column;
    color: #FAF9F6;
}

.register-container {
    display: flex;
    align-items: center;
    border: 2px solid black;
    height: 60%;
    width: 20%;
    border-radius: 20px;
    flex-direction: column;
    color: #FAF9F6;
}

.selection-container {
    display: flex;
    align-items: center;
    border: 2px solid black;
    height: 80%;
    width: 130vh;
    border-radius: 20px;
    flex-direction: column;
    color: #FAF9F6;
}

.teamslist div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.teamslist label {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 200px;
    flex-direction: column;
}

.teamslist button {
    align-items: center;
    justify-content: center;
}


.formcontents {
    list-style-type: none;
    color: #FAF9F6;
}

.submit-button {
    border-radius: 5px;
    background-color: dodgerblue;
    margin-top: 10px;
    padding: 5px;
    color: #FAF9F6;
}

.logincontents {
    list-style-type: none;
    color: #FAF9F6;
}

.loginbutton {
    border-radius: 5px;
    background-color: dodgerblue;
    margin-top: 10px;
    padding: 5px;
    color: #FAF9F6;
}

.deletebutton {
    border-radius: 5px;
    background-color: dodgerblue;
    margin-top: 10px;
    padding: 5px;
    color: #FAF9F6;
}

.changeteamsbutton {
    border-radius: 5px;
    background-color: dodgerblue;
    margin-top: 10px;
    padding: 5px;
    color: #FAF9F6;
}

.teamssubmit {
    border-radius: 5px;
    background-color: dodgerblue;
    margin-top: 10px;
    padding: 5px;
    color: #FAF9F6;
}

